<app-navbar-component></app-navbar-component>

<div *ngIf="gamesListQL" class="thumbnailDisplay">
    <div *ngFor="let game of gamesListQL">
        <img [src] = "game.thumbnail" aria-placeholder="game.name" alt="{{game.name}}" title="{{game.name}} &#013;{{game.description}}" height="{{game.height}}" width="{{game.width}}" onerror="this.onerror=null;this.src='assets/noimagefound.png';"/>
    </div>
</div>


<div *ngIf="gamesListQL" class="thumbnailDisplay">
    <div *ngFor="let game of popularGamesList">
        <a target="_blank" rel="noopener noreferrer" href="{{game.url}}">
            <img [src] = "game.thumbnail" aria-placeholder="game.name" alt="{{game.name}}" title="{{game.name}} &#013;{{game.description}}" height="{{game.height}}" width="{{game.width}}" onerror="this.onerror=null;this.src='assets/noimagefound.png';"/>
        </a>
    </div>
</div>
